input[type="submit"]:hover
{
    background-color: #0d6efd;
}
input[type="submit"]{
    color: #ffff;
    border-color:#0d6efd;
    background-color:#0d6efd;
}
.btn:first-child:active{
    color: #ffff;
    border-color:#0d6efd;
    background-color:#0d6efd;
}
.form-select{
    width: auto;
}
.container-fluid{
    --bs-gutter-x: 50%;
}
h1{
    margin-bottom: 1rem!important;
}

